body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


a {
    text-decoration: none; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    font-size: 15px;
    margin: 0px 30px;
    color: black;
    padding: 50px 0px;
   

}
li {
    list-style: none;    
    display: inline-block;
    margin: 0px 30px;    

}

nav {
    
    
    display: flex;
    justify-content: space-around;  
    background-color: #18a0d0;  
    align-items: center;   

}

.freelance {
    background-color: #007497; 
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    height: 50%;
    font-family: 'BIZ UDPGothic', sans-serif;
    margin-left: 40px;
    
}   


.contenedor {
    display: flex;
    justify-content: space-around;
    align-items: center;    
    height: 90%;
    background-color: #007497;
}

.boton1 {
    background-color: white;
    height: 30px;
    margin: 10px;
    color: black;
    border: none;
    border-radius: 10px;
}

.boton2 {
    height: 30px;
    margin: 10px; 
    border: none;
    border-radius: 10px; 
    
}

.img {
    width: 50%;
    height: 70%;
}

.botones {
    display: flex;
    justify-content: space-around;
    margin: 15px;
}

p {
    
    font-family: 'Raleway', sans-serif;    
    text-align: start;
    font-size: 20px;
}

.seccion {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    display: block;

    
}

.segundo {
    margin: 40px;
    font-family: 'Tiro Tamil', serif;
    text-align: center;
    font-size: 20px; 
    
    
}